<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple</title>
    <link rel="stylesheet" href="./src/css/style.css">
    <script src="https://kit.fontawesome.com/6f5ad6f955.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <h2>X-CODE</h2>
        <div class="links">
            <li><a href="./login.html">INICIAR SESIÓN</li></a>
            <li><a href="./index.html">INICIO</li></a>
            <li><a href="./vender.html">VENDER</li></a>
            <div>
                <a href="">
                    <i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </header>

    <section class="imagenPortadaApple">

        <img src="./src/Assent/imagenes/portadaApple.jpg" alt="">

    </section>

    <section class="tituloApple">
        <h2>Escoge el Smartphone que tenemos para ti</h2>
    </section>

    <div class="todoTextoApple">
        <div class="intemCarrusel1.1">
            <div id="conteItemsCarrusel">

                <section class="itemCarrusel" id="itemCarrusel-1">
                    <div class="tarjetaCarrusel " id="tarjetaCarrusel-1">
                        <img class="imgAppleLogos" src="./src/Assent/imagenes/iphone16 1.jpg" alt="">
                    </div>
                    <div class="flechasCarrusel">
                        <a href="#itemCarrusel-3">
                            <i class="fa-solid fa-arrow-left-long"></i>
                        </a>
                        <a href="#itemCarrusel-2">
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </div>
                </section>


                <section class="itemCarrusel" id="itemCarrusel-2">
                    <div class="tarjetaCarrusel " id="tarjetaCarrusel-2">
                        <img class="imgAppleLogos" src="./src/Assent/imagenes/iphone16 2.jpg" alt="">
                    </div>
                    <div class="flechasCarrusel">
                        <a href="#itemCarrusel-1">
                            <i class="fa-solid fa-arrow-left-long"></i>
                        </a>
                        <a href="#itemCarrusel-3">
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </div>
                </section>

                <section class="itemCarrusel" id="itemCarrusel-3">
                    <div class="tarjetaCarrusel " id="tarjetaCarrusel-3">
                        <img class="imgAppleLogos" src="./src/Assent/imagenes/iphone 16 3.jpg" alt="">
                    </div>
                    <div class="flechasCarrusel">
                        <a href="#itemCarrusel-2">
                            <i class="fa-solid fa-arrow-left-long"></i>
                        </a>
                        <a href="#itemCarrusel-1">
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </div>
                </section>
            </div>
            <div class="textoDescripcionApple">
                <h2>APPLE</h2>
                <br>
                <p>IPhone 16 256GB|8GB RAM</p>
                <p>Pantalla 6.1 Pulgadas</p>
                <p>Chip A18|Control Camara</p>
                <p>Apple intelligence</p>
                <p>Posterior 48 MP</p>
                <br>
                <div>
                    <p>$4.900.900 COL</p>
                </div>
                <br>
                <div class="botonesAgregar">
                    <button class="buttonA">Agregar al carrito</button>
                </div>
            </div>

        </div>

        <div class="intemCarrusel1.1">
            <div id="conteItemsCarrusel">

                <section class="itemCarrusel" id="itemCarrusel-4">
                    <div class="tarjetaCarrusel " id="tarjetaCarrusel-4">
                        <img class="imgAppleLogos" src="./src/Assent/imagenes/Iphone 16promax.jpg" alt="">
                    </div>
                    <div class="flechasCarrusel">
                        <a href="#itemCarrusel-6">
                            <i class="fa-solid fa-arrow-left-long"></i>
                        </a>
                        <a href="#itemCarrusel-5">
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </div>
                </section>


                <section class="itemCarrusel" id="itemCarrusel-5">
                    <div class="tarjetaCarrusel " id="tarjetaCarrusel-5">
                        <img class="imgAppleLogos" src="./src/Assent/imagenes/16promax3.jpg" alt="">
                    </div>
                    <div class="flechasCarrusel">
                        <a href="#itemCarrusel-4">
                            <i class="fa-solid fa-arrow-left-long"></i>
                        </a>
                        <a href="#itemCarrusel-6">
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </div>
                </section>

                <section class="itemCarrusel" id="itemCarrusel-6">
                    <div class="tarjetaCarrusel " id="tarjetaCarrusel-6">
                        <img class="imgAppleLogos" src="./src/Assent/imagenes/16promax2.jpg" alt="">
                    </div>
                    <div class="flechasCarrusel">
                        <a href="#itemCarrusel-5">
                            <i class="fa-solid fa-arrow-left-long"></i>
                        </a>
                        <a href="#itemCarrusel-4">
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </div>
                </section>
            </div>
            <div class="textoDescripcionApple">
                <h2>APPLE</h2>
                <br>
                <p>IPhone 16 Pro Max 512GB</p>
                <p>Pantalla 6.9 Pulgadas</p>
                <p>Chip A18 Pro|Control Camara</p>
                <p>Apple intelligence</p>
                <p>Posterior 48 MP</p>
                <br>
                <div>
                    <p>$6.881.960 COL</p>
                </div>
                <br>
                <div class="botonesAgregar">
                    <button class="buttonA">Agregar al carrito</button>
                </div>
            </div>

        </div>


        <div class="intemCarrusel1.1">
            <div id="conteItemsCarrusel">

                <section class="itemCarrusel" id="itemCarrusel-7">
                    <div class="tarjetaCarrusel " id="tarjetaCarrusel-7">
                        <img class="imgAppleLogos" src="./src/Assent/imagenes/16pro.jpg" alt="">
                    </div>
                    <div class="flechasCarrusel">
                        <a href="#itemCarrusel-8">
                            <i class="fa-solid fa-arrow-left-long"></i>
                        </a>
                        <a href="#itemCarrusel-9">
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </div>
                </section>


                <section class="itemCarrusel" id="itemCarrusel-8">
                    <div class="tarjetaCarrusel " id="tarjetaCarrusel-8">
                        <img class="imgAppleLogos" src="./src/Assent/imagenes/16pro1.png" alt="">
                    </div>
                    <div class="flechasCarrusel">
                        <a href="#itemCarrusel-7">
                            <i class="fa-solid fa-arrow-left-long"></i>
                        </a>
                        <a href="#itemCarrusel-9">
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </div>
                </section>

                <section class="itemCarrusel" id="itemCarrusel-9">
                    <div class="tarjetaCarrusel " id="tarjetaCarrusel-9">
                        <img class="imgAppleLogos" src="./src/Assent/imagenes/16promax2.jpg" alt="">
                    </div>
                    <div class="flechasCarrusel">
                        <a href="#itemCarrusel-8">
                            <i class="fa-solid fa-arrow-left-long"></i>
                        </a>
                        <a href="#itemCarrusel-7">
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </div>
                </section>
            </div>
            <div class="textoDescripcionApple">
                <h2>APPLE</h2>
                <br>
                <p>IPhone 16 Pro 256GB|8GB RAM</p>
                <p>Pantalla 6.3 Pulgadas</p>
                <p>Chip A18 Pro|Control Camara</p>
                <p>Apple intelligence</p>
                <p>Camara Posterior 48 MP</p>
                <br>
                <div>
                    <p>$6.312.960 COL</p>
                </div>
                <br>
                <div class="botonesAgregar">
                    <button class="buttonA">Agregar al carrito</button>
                </div>
            </div>

        </div>






</body>

</html>