<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/6f5ad6f955.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <a href="../"><h2>X-CODE</h2></a>
        <div class="links">
            <li><a href="../templates/login.html">INICIAR SESIÓN</li></a>
            <li><a href="../index.html">INICIO</li></a>
            <li><a href="./vender.html">VENDER</li></a>
        </div>
    </header>
    <div class="containerL">
        <section class="login-box">
            <h2>INICIAR SESIÓN</h2>
            <form id="auth-form">
                <div class="boxs">
                    <div class="box1">
                        <div>
                            <i class="fa-solid fa-user"></i>
                            <input class="usuario" type="text" placeholder="Usuario">
                        </div>
                    </div>
                    <div class="box2">
                        <div>
                            <i class="fa-solid fa-lock"></i>
                            <input class="contraseña" type="password" placeholder="Contraseña">
                    </div>
                </div>
            </div>
            <div class="buttonL">
                <button id="login-btn">Acceder</button>
            </div>
            
            <div class="textoRegistro">
                <p>¿No tienes una cuenta? <a href="./registrar.html">
                    Registrate
                </a></p>
            </div>
        </form>
        </section>
    </div>

    <script src="../js/main.js"></script>
</body>

</html>