<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="./frontend/src/css/style.css">
</head>

<body>
    <header>
        <h2>X-CODE</h2>
        <div class="links">
            <li><a href="./login.html">INICIAR SESIÓN</li></a>
            <li><a href="./index.html">INICIO</li></a>
            <li><a href="./vender.html">VENDER</li></a>

        </div>
    </header>
    <div class="containerL">
        <section class="registro-box">
            <h2>REGISTRO</h2>
            <div class="boxsR">

                <div class="boxR1">
                    <div>
                        <input class="usuario" type="text" placeholder="Nombre">
                    </div>
                </div>
                <div class="boxR2">
                    <div>
                        <input class="contraseña" type="text" placeholder="Apellido">
                    </div>
                </div>
                <div class="boxR2">
                    <div>
                        <input class="contraseña" type="text" placeholder="Email">
                    </div>
                </div>
                <div class="boxR2">
                    <div>
                        <input class="contraseña" type="text" placeholder="Contraseña">
                    </div>
                </div>
                <div class="boxR2">
                    <div>
                        <input class="contraseña" type="text" placeholder="Confirmar Contraseña">
                    </div>
                </div>
            </div>

            <div class="buttonR">
                <button>Registrarme</button>
            </div>

            <div class="textoRegistroR">
                <p>Politica y privacidad X-code</p>
            </div>

        </section>
    </div>
</body>

</html>